

body{
    background: #0E7E12;
}

.tamaño{
    font-size: 185px;
    
}

.tamaño1{
    font-size: 55px;
    display: flex;
    margin: 5px;
}
.rotation{

    transform: rotate(0.5turn);
    font-size: 55px;
    display: flex;
    margin: 5px;
}

.TamañoCarta{

    width: 350px;
    border-radius: 15%;
    border-color: black;
}